* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
header,
section {
    background-color: #F7C7B9;
}
.section--white {
    background-color: #F9F9F9;
}
.container {
    max-width: 1130px;
    margin: auto;
}
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
nav ul,
nav li{
    list-style: none;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color:#161212;
}
nav a:hover {
    background-color:#DA2535;
    color: #FFFFFF;
    transition: all 0.2s linear;
}


.banner--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.banner--text {
    width: 400px;
}
.banner--text h2 {
    font-size: 48px;
    line-height: 52px;
    color: #161212;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner--text p {
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    font-weight: 500;
    margin-bottom: 20px;
}
.banner--text a {
    display: block;
    width: 200px;
    text-decoration: none;
    background-color: #DA2535;
    padding: 10px;
    color:#FFFFFF ;
    border-radius: 10px;
}

.accessories--area {
    display: flex;
    flex-direction: column;
}
.accessories--title {
    text-align: center;
}
.accessories--title h2 {
    margin-top: 40px;
    font-size: 48px;
    color: #161212;
}
.accessories--title p {
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    margin-bottom: 30px;
}
.accessories--items {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    margin-bottom: 70px;
}
.acessories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 275px;
    height: 290px;
}
.acessories p {
    font-size: 20px;
    font-weight: bold;
    color: #161212;
    margin-bottom: 15px;
}
.acessories span {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}


.footer--area {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer--area li {
    list-style: none;
}
.footer--area ul {
    display: flex;
}
.footer--area li img {
    display: block;
    padding: 15px;
    margin:0px 10px;
    background-color: #F5DADC;
    border-radius:40% ;
}
.footer--area li img:hover {
    background-color: #404040;
}
#footer--right {
    display: flex;
}

@media (min-width: 768px) and (max-width: 1169px) {
    .container {
        margin: 0px 20px;
    }
    .banner--img  img {
        width: 400px;
    }
    .accessories--area {
        justify-content: center;
    }
    .accessories--items {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .banner--text {
        width: 300px;
    }
    
}
@media (min-width: 310px) and (max-width: 767px) {
    .container {
        margin: 0px 20px;
    }
    .header--right {
        display: none;
    }
    .accessories--area {
        justify-content: center;
    }
    .accessories--items {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
    .banner--img {
        display: none;
    }
    .footer--area {
        flex-direction: column;
    }
    .footer--area li img {
        padding: 10px;
    }
}